/* Di file src/index.css atau src/App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.map-sidebar {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.map-sidebar::-webkit-scrollbar {
  width: 8px;
}

.map-sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.map-sidebar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}